




{% if user.is_authenticated %}

    {% load staticfiles %}

        <html>
          <head>
              <title>Hub</title>
              <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
              <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
              <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
              <link rel="manifest" href="/manifest.json">
              <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
              <link rel="stylesheet" href="{% static "css/base.css" %}" />
          </head>

          <body onload="set_base_theme()">

            <div id="orange_nav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a>
             {% for user in users %}
                {% if user != request.user %}
                    <a href="#" data-action="set_user" class ="usernames">{{ user.username }}</a>
                {% endif %}
             {% endfor %}
             <a href="{% url 'user_settings' %}">Settings</a>
             <a href="{% url 'logout' %}">Logout</a>

            </div>

            <span style="font-size:50px;cursor:pointer; position:absolute; z-index:4; " onclick="openNav()">&#9776;</span>

            <div id="container">
                <div id="message_area">
                    <span id="messages">

                        <form method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit">Upload</button>
                        </form>


                    </span>
                </div>

                <form action="" id ="typie_box_form">

                    <input type="text" id="typie-box"><br>
                </form>

            <div>






            <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
            <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>

            <script>
                var set_user;
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/main/");
                var users = [];
                var messages_from__current_user = [];
                var raw_message_data;
                var last_user_to_message;

                function fileSelected() {
                  var file = document.getElementById('fileToUpload').files[0];
                  if (file) {
                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                      fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                      fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                    document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                    document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                    document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
                    if(file.type == "image/png"){
                        console.log("image")
                    }
                  }
                }


                function uploadFile() {
                  var fd = new FormData();
                  fd.append("fileToUpload", document.getElementById('fileToUpload').files[0]);
                  var xhr = new XMLHttpRequest();
                  xhr.upload.addEventListener("progress", uploadProgress, false);
                  xhr.addEventListener("load", uploadComplete, false);
                  xhr.addEventListener("error", uploadFailed, false);
                  xhr.addEventListener("abort", uploadCanceled, false);
                  xhr.open("POST", "UploadMinimal.aspx");
                  xhr.send(fd);
                }

                function uploadProgress(evt) {
                  if (evt.lengthComputable) {
                    var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                  }
                  else {
                    document.getElementById('progressNumber').innerHTML = 'unable to compute';
                  }
                }

                function uploadComplete(evt) {
                  /* This event is raised when the server send back a response */
                  alert(evt.target.responseText);
                }

                function uploadFailed(evt) {
                  alert("There was an error attempting to upload the file.");
                }

                function uploadCanceled(evt) {
                  alert("The upload has been canceled by the user or the browser dropped the connection.");
                }


                function set_base_theme(){

                    var theme_color = "{{ theme_color }}";
                    var accent_color = "{{ accent_color }}";

                    if (theme_color == "Dark"){
                        $('body').css("background","#222222");
                        $('.sidenav').css({"background":"#222222", "-moz-box-shadow": "3px 3px 5px 6px #222222", "-webkit-box-shadow": "3px 3px 5px 6px #222222", "box-shadow": "3px 3px 5px 6px #222222"});
                    }

                    if (accent_color == "Green") {
                        $('.sidenav').attr("id", "green_nav");
                    }
                    if (accent_color == "Red") {
                        $('.sidenav').attr("id", "red_nav");
                    }
                    if (accent_color == "Blue") {
                        $('.sidenav').attr("id", "blue_nav");
                    }
                    raw_message_data = jQuery.parseJSON('{{ messages|escapejs }}');


                    {% for user in users %}{% if user != request.user %}
                        users.push("{{ user.username }}")
                    {% endif %}{% endfor %}
                }


                function openNav() {
                    $('.sidenav').css("width","200px");
                    $('.sidenav').css("display","table-cell");
                }

                function closeNav() {
                    $('.sidenav').css("width","0");
                }

                $(document).ready(function(){
                    $('#typie_box_form').submit(function(e){
                        e.preventDefault();
                        var message = $('#typie-box').val();
                        $('#typie-box').val('');
                        if (last_user_to_message == set_user){
                            $( '#messages' ).append( '<p>' + '<span style="font-size: 13; color: #8D8F90;">' + "{{ request.user }}" + "</span>" + "<br>"  + message + "</p>" );
                        }
                        else{
                            $( '#messages' ).append( '<p>' + message + "</p>" );
                        }
                        last_user_to_message = "{{ request.user }}";


                        chatsock.send(JSON.stringify({
                            'sender': "{{ request.user }}",
                            'reciever': set_user,
                            'message': message
                        }));
                        $("#messages").scrollTop($("#messages").prop("scrollHeight"));

                        $.ajax({
                            url: "{% url 'save_sent_message' %}",
                            data: {reciever: set_user, message: message },
                            traditional: true,
                            dataType: 'json',
                            success: function(result){
                                }
                        });


                    });
                });

                $('[data-action="set_user"]').on('click', function() {
                    set_user = $(this).text();
                    $('.usernames').css("background-color", "transparent");
                    $(this).css("background-color", "green");
                    $('#typie_box_form').css("display", "block");

                    $( '#messages' ).text( '' );
                    var messages_from_current_user = raw_message_data.filter(function(row) {

                        if(row.sender == set_user) {
                            if (last_user_to_message == row.sender){
                                $( '#messages' ).append( '<p style="text-align: left;">' + row.message + "</p>" );
                            }
                            else{
                                $( '#messages' ).append( '<p style="text-align: left;">' + '<span style="font-size: 13; color: #8D8F90;">' + row.sender + "</span>" + "<br>"  + row.message + "</p>" );
                            }

                            last_user_to_message = set_user
                            return true
                        }
                        else if (row.reciever == set_user) {

                            if (last_user_to_message == row.sender){
                                $( '#messages' ).append( '<p>' + row.message + "</p>" );
                            }
                            else{
                                $( '#messages' ).append( '<p>' + '<span style="font-size: 13; color: #8D8F90;">' + row.sender + "</span>" + "<br>"  + row.message + "</p>" );
                            }

                            last_user_to_message = row.sender
                            return true
                        }
                        else {
                            return false;
                        }
                    });

                    $("#messages").scrollTop($("#messages").prop("scrollHeight"));

                    $( "#typie-box" ).focus();


                });

                $(function() {
                    chatsock.onmessage = function(message) {
                        var a = JSON.parse(message.data);
                        console.log(a)
                        console.log(last_user_to_message)

                        if (last_user_to_message == a.sender){
                            $( '#messages' ).append( '<p style="text-align: left;">' + a.message + "</p>" );
                        }
                        else{
                            $( '#messages' ).append( '<p style="text-align: left;">' + '<span style="font-size: 13; color: #8D8F90;">' + a.sender + "</span>" + "<br>"  + a.message + "</p>" );
                        }
                        last_user_to_message = a.sender;


                        $("#messages").scrollTop($("#messages").prop("scrollHeight"));

                    }

                });


            </script>

        </html>

{% else %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Hub</title>
            <link rel="stylesheet" href="{% static "css/base.css" %}" />
        </head>
        <body>
            <div id="error_div">
                <span class="error">You are not authorized to access this page.</span>
                <br><br>
                <input type="button"
                        id="login_button"
                        value="Login"
                        onclick="location.href = '{% url 'login' %}';" />
            </div>

        </body>
    </html>
{% endif %}
