@font-face {
    font-family: 'LatoL';
    src: url('Lato-Light.ttf');
    color: #EBA421;

}
body, html {
    font-family: "LatoL", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    color: #818181;
    background: #eef3f4;
}


.sidenav {
    display: none;
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -10;
    background-color: #eef3f4;
    overflow-x: hidden;
    transition: all ease 0.5s;
    padding-top: 60px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;

}

.sidenav a {
    width: 100%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #898b8b;
}

.sidenav .closebtn {

    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    font-size: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#orange_nav a:hover {
    background-color: #EBA421;
    color: #f1f1f1;
}
#green_nav a:hover {
    background-color: #008000;
    color: #f1f1f1;
}
#red_nav a:hover {
    background-color: #B6313E;
    color: #f1f1f1;
}
#blue_nav a:hover {
    background-color: #4472A7;
    color: #f1f1f1;
}

#error_div{
    display: grid;
    width: 290px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#login_button{
    outline: none;
    opacity: 0.5;
    background-color: #EBA421;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#login_button:hover {
  opacity: 1;
}
