h1{
  font-weight: normal;
  font-size: 5%;
  top: 0;
  margin-top: 0;
  margin-left:auto;
  width: 80%;
  position: absolute;
  z-index: 3;
  text-align: center;
}


.bottom_buttons{
  position: relative;
  bottom: 0;
  left: 0;

}


.therm {
  position: absolute;
}


.Orange, .Green, .Red, .Blue{
  height: 5%;
  width: 101%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all ease 0.5s;

}
#Light{
  background-color: #eef3f4;
  -moz-box-shadow:    3px 3px 5px 6px #eef3f4;
  -webkit-box-shadow: 3px 3px 5px 6px #eef3f4;
  box-shadow:         3px 3px 5px 6px #eef3f4;
}

#Dark{
  background-color: #222222;
  -moz-box-shadow:    3px 3px 5px 6px #222222;
  -webkit-box-shadow: 3px 3px 5px 6px #222222;
  box-shadow:         3px 3px 5px 6px #222222;
}

#Light + .radio{
  background-color: #eef3f4;
}

#Dark + .radio{
  background-color: #222222;
}

.radio{
    text-align: center;
    display:inline-block;
    width:33%;
    color: #818181;
    bottom: 5px;
    vertical-align:top;
    height: 100%;
}


.Orange input[type=radio], .Green input[type=radio], .Red input[type=radio], .Blue input[type=radio]{
    display:none
}



.Orange input[type=radio]:checked + .radio{
  background-color: #EBA421;
}
.Green input[type=radio]:checked + .radio{
  background-color: #008000;
}
.Red input[type=radio]:checked + .radio{
  background-color: #B6313E;
}
.Blue input[type=radio]:checked + .radio{
  background-color: #4472A7;
}



.Orange input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #EBA421;
}
.Green input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #008000;
}
.Red input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #B6313E;
}
.Blue input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #4472A7;
}
